<div class="content">
  <h1>Dashboard</h1>
</div>
<div class="columns">
  <h4>Trip History</h4>
  <div class="column is-8">
    <canvas *ngIf="lineChartData.length" baseChart width="400" height="400" [datasets]="lineChartData"
      [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
      [chartType]="lineChartType" [plugins]="lineChartPlugins">
    </canvas>
  </div>
  <div class="column is-3">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
              <p class="subtitle">Processing Trips</p>
              <h1 class="title">{{ currentTrips }}</h1>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>