<aside>
    <p class="menu-label is-hidden-touch">Navigation</p>
    <ul class="menu-list">
        <li>
            <a [routerLink]="[{ outlets: { delivery: ['orders'] } }]" routerLinkActive="is-active">
                <span class="icon"><i class="fa fa-file-invoice-dollar"></i></span> Orders
            </a>
        </li>
        <li>
            <a [routerLink]="[{ outlets: { delivery: ['create-trip'] } }]" routerLinkActive="is-active">
                <span class="icon"><i class="fa fa-drafting-compass"></i></span> Create Trip
            </a>
        </li>
    </ul>
</aside>
