<div class="column" [class.is-half]="!showNewOrderForm" [@moveLeft]="orderTableState">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Orders</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-success" (keyup)="applyOrderFilter($event.target.value)"
                                        type="text" placeholder="Filter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-content">
                <div *ngIf="ordersTableDataSource" class="content">
                    <table mat-table [dataSource]="ordersTableDataSource" multiTemplateDataRows
                        class="table is-striped is-hoverable">
                        <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                            <th class="md-table-header" mat-header-cell *matHeaderCellDef> {{column}} </th>
                            <td mat-cell *matCellDef="let sku"> {{sku[column]}} </td>
                        </ng-container> -->

                        <ng-container matColumnDef="invoice">
                            <th class="md-table-header" mat-header-cell *matHeaderCellDef> Invoice No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.invoice}} </td>
                        </ng-container>

                        <ng-container matColumnDef="distributor">
                            <th mat-header-cell class="md-table-header" *matHeaderCellDef> Distributor </th>
                            <td mat-cell *matCellDef="let element"> {{element.distributor.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="volume">
                            <th mat-header-cell class="md-table-header" *matHeaderCellDef> Volume </th>
                            <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
                        </ng-container>
                        <ng-container matColumnDef="weight">
                            <th mat-header-cell class="md-table-header" *matHeaderCellDef> Weight </th>
                            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <th mat-header-cell class="md-table-header" *matHeaderCellDef> Value </th>
                            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="ordersColumnsToDisplay"></tr>
                        <tr [class.is-selected]="element === selectedOrder" mat-row
                            (click)="selectInvoice(element);orderTableState='left'"
                            *matRowDef="let element; columns: ordersColumnsToDisplay;" class="example-element-row">
                        </tr>

                    </table>
                    <mat-paginator #ordersPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
        <br />
    </div>