<div>
    <div class="columns">
        <div class="column is-two-thirds">
            <div class="content">
                <h1>Available Trucks</h1>
            </div>
            <div class="columns is-multiline">
                <div [@grow]="assignOrdersView ? 'open' : 'close'" *ngFor="let truck of trucks" class="column is-half">
                    <div class="card is-hoverable">
                        <div class="card-content">
                            <div class="content">
                                <app-driver-card *ngIf="truck.truck.truck" [truck]="truck.truck.truck">
                                </app-driver-card>

                                <p>Max Volume: {{ truck.truck.truck?.volume || 100}}
                                    <progress class="progress is-small" [value]="getTotalVolume(truck)"
                                        [max]="truck.truck.truck?.volume || 0">60%</progress>
                                </p>
                                <p>Max weight: {{ truck.truck.truck?.weight || 100 }}
                                    <progress class="progress is-small" [value]="getTotalWeight(truck)"
                                        [max]="truck.truck.truck?.weight || 0">60%</progress>
                                </p>
                                <div class="buttons">
                                    <a [routerLink]="['/delivery-planing', { outlets: { delivery: ['assign-orders'] } }]"
                                        [queryParams]="{tripID: truck.tripID}" class="button is-primary">Assign
                                        orders</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!trucks?.length" class="section">
                <h3 class="is-text-3">No Ordered Trucks Yet !</h3>
                <div class="content">
                    <a [routerLink]="['/vehicle-procurement', { outlets: { procurement: ['order-vehicle'] } }]"
                        class="button is-primary">Order Now</a>
                </div>
            </div>
        </div>
        <!-- suggestions panel -->
        <div *ngIf="!assignOrdersView" class="column" [@slideInOutFromLeft]>
            <div class="content is-small">
                <h1>Trip Suggestions</h1>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        <div class="field is-horizontal">
                            <div class="fix-label field-label is-normal">
                                <label class="label">LP-2342</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="content">asf</div>
                </div>
            </div>
        </div>
    </div>
</div>