@import '~@angular/material/theming';
// @import "bulma";

:host {
  @include mat-elevation(2);
  display: block;
  background: #f9f9f9;
  border-radius: 2px;
  padding: 16px 24px 8px;
  min-width: 240px;
}

.mat-subheading-2 {
  margin: 0;
  font-weight: 500;
}

.mat-form-field {
  width: 100%;
  font-size: 14px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  margin-right: -16px;
}
// .button {
//     background-color: white;
//     border-color: #dbdbdb;
//     border-width: 1px;
//     color: #363636;
//     cursor: pointer;
//     justify-content: center;
//     padding-bottom: calc(0.375em - 1px);
//     padding-left: 0.75em;
//     padding-right: 0.75em;
//     padding-top: calc(0.375em - 1px);
//     text-align: center;
//     white-space: nowrap;
// }
// .button.is-primary:hover, .button.is-primary.is-hovered {
//     background-color: #00a5e2;
//     border-color: transparent;
//     color: #fff;
// }