<div class="card">
  <div class="card-header">
    <div class="card-header-title">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Pending&nbsp;Orders</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input is-success" [(ngModel)]="filterPhrase" type="text" placeholder="Filter">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="card-content">
    <div *ngIf="orders" class="content">
      <table class="table">
        <thead>
          <tr>
            <th>Invoice No.</th>
            <th>Distributor</th>
            <th>Volume</th>
            <th>Weight</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders |
              filter: 'distributor.name': filterPhrase |
              paginate: { itemsPerPage: 5, currentPage: page}" (click)="assignOrder(truck, order)">
            <td>{{ order.invoice }}</td>
            <td>{{ order.distributor.name }}</td>
            <td>{{ order.volume}}</td>
            <td>{{ order.weight }}</td>
            <td>
              <a class="button is-success is-outlined is-small">
                <span>Add</span>
                <span class="icon is-small">
                  <i class="fas fa-plus"></i>
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination-controller (pageChange)="page = $event" [autoHide]="true"></app-pagination-controller>
  </div>
</div>