<aside>
    <p class="menu-label is-hidden-touch">Ordered&nbsp;Trucks</p>
    <ul class="menu-list">
        <li *ngFor="let truck of orderedTrucks">
            <a [routerLink]="[{ outlets: { loadingbay: ['details'] } }]" [queryParams]="{tripID: truck.tripID}"
                routerLinkActive="is-active">
                <div class="tags has-addons">
                    <span class="tag">
                        <span class="has-text-weight-bold is-size-5">{{ truck.truck.truck.vid}}</span>
                    </span>
                    <span *ngIf="truck.status == 1 && !truck.bay" class="tag is-success is-right">Arrived</span>
                    <span *ngIf="truck.status == 1 && truck.bay" class="tag is-warning is-right"
                        title="Assigned to bay # {{truck?.bay.name }}">
                        <strong>#{{ truck?.bay?.name}}</strong>
                        <i style="margin-left: 5px;" class="fa fa-user-clock"></i>
                    </span>
                    <!-- <span *ngIf="truck.loading" class="tag is-warning is-right">Loading</span> -->
                    <span *ngIf="!truck.status" class="tag is-danger is-right">Pending</span>
                </div>
            </a>
        </li>
        <!-- <li> -->
        <!-- <a [routerLink]="[{ outlets: { loadingbay: ['loadingbay2'] } }]" routerLinkActive="is-active"> -->
        <!-- <div class="tags has-addons"> -->
        <!-- <span class="tag"> -->
        <!-- <span class="has-text-weight-bold is-size-5">LG 9083</span> -->
        <!-- </span> -->
        <!-- <span class="tag is-success is-right">Arrived</span> -->
        <!-- <span class="tag is-warning is-right">Loading</span> -->
        <!-- <span class="tag is-danger has-text-right">Pending</span> -->
        <!-- </div> -->
        <!-- </a> -->
        <!-- </li> -->
    </ul>
</aside>