<div class="tabs is-centered">
  <ul>
    <li class="is-active"><a>Find Your Driver</a></li>
    
  </ul>
</div><br><br>

<div class="field">
  <input id="switchThinColorDefault" type="checkbox" name="switchThinColorDefault" class="switch is-thin" checked="checked">
  <label for="switchThinColorDefault">Switch user1</label>
</div><br>

<div class="field">
  <input id="switchThinColorSuccess" type="checkbox" name="switchThinColorSuccess" class="switch is-thin is-success" checked="checked">
  <label for="switchThinColorSuccess">Switch user2</label>
</div><br>

<div class="field">
  <input id="switchThinColorWarning" type="checkbox" name="switchThinColorWarning" class="switch is-thin is-warning" checked="checked">
  <label for="switchThinColorWarning">Switch user3</label>
</div><br>

<div class="field">
  <input id="switchThinColorDanger" type="checkbox" name="switchThinColorDanger" class="switch is-thin is-danger" checked="checked">
  <label for="switchThinColorDanger">Switch user3</label>
</div><br>

<div class="field">
  <input id="switchThinColorInfo" type="checkbox" name="switchThinColorInfo" class="switch is-thin is-info" checked="checked">
  <label for="switchThinColorInfo">Switch user4</label>
</div>
