<div class="field is-horizontal">
    <div class="field-body">
        <div class="field">
            <div class="buttons">
                <a [routerLink]="['/vehicle-procurement', { outlets: { procurement: ['order-vehicle'] } }]" class="button is-primary">Order Vehicles</a>
                <button [disabled]="true" class="button is-primary">Order a Specific Vehicles</button>
            </div>
        </div>
    </div>
</div>

<!-- <app-order-vehicle (closed)="toggleOrderVehicle = false" [toggle]="toggleOrderVehicle" [warehouse]="selectedWarehouse"></app-order-vehicle> -->

<!-- <agm-map></agm-map> -->