<div class="field is-horizontal">
    <div class="field-body">
        <div class="field">
            <div class="buttons">
                <a [routerLink]="['/vehicle-procurement', { outlets: { procurement: ['order-vehicle'] } }]"
                    class="button is-primary">Order Vehicles</a>
                <button [disabled]="true" class="button is-primary">Order a Specific Vehicles</button>
            </div>
        </div>
    </div>
</div>

<!-- <app-order-vehicle (closed)="toggleOrderVehicle = false" [toggle]="toggleOrderVehicle" [warehouse]="selectedWarehouse"></app-order-vehicle> -->
<div *ngIf="nearbyTrucks">
    <agm-map 
    [latitude]="warehouse.latitude"
    [longitude]="warehouse.longitude"
    [fitBounds]="true">
        <agm-marker *ngFor="let truck of nearbyTrucks"
        [iconUrl]="icon"
        [agmFitBounds]="true"
        [latitude]="truck.lat" 
        [longitude]="truck.lng"></agm-marker>
    </agm-map>
</div>