.md-table-header {
    border-bottom: 1px solid rgb(230, 230, 230);
    text-align: initial;
    font-size: initial;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    border-width: 0 0 2px;
    color: #363636;
}

.table thead td,
.table thead th {
    border-width: 0 0 2px;
    color: #363636;
}

.table td,
.table th {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: .5em .75em;
    vertical-align: top;
    text-align: left;
}
.mat-form-field-infix {
    width: initial !important;
}
