<div class="columns">
    <div class="column is-one-third">
        <div class="form" [class.is-active]="toggleNewSkuModal">
            <div class="form-background" (click)="toggleNewSkuModal = false"></div>
            <form [formGroup]="newSKUForm" class="form-content box"
                (submit)="addSKU(newSKUForm.value)">
                <div class="field">
                    <label class="label">Create New Skus</label>
                    <label class="label">Code</label>
                    <div class="control has-icons-left has-icons-right">
                        <input formControlName="code" class="input is-success" type="text" placeholder="Code"
                            [class.is-danger]="code.invalid && (code.dirty || code.touched)" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-tag"></i>
                        </span>
                        <span *ngIf="!code.invalid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p *ngIf="!code.invalid" class="help is-success">Code is looking good</p>
                </div>

                <div class="field">
                    <label class="label">Name</label>
                    <div class="control has-icons-left has-icons-right">
                        <input formControlName="name" class="input is-success" type="text" placeholder="Name"
                            [class.is-danger]="name.invalid && (name.dirty || name.touched)">
                        <span class="icon is-small is-left">
                            <i class="fas fa-file-signature"></i>
                        </span>
                        <span *ngIf="!name.invalid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p *ngIf="!name.invalid" class="help is-success">Name is looking good</p>
                </div>

                <div class="field">
                    <label class="label">Unite Volume</label>
                    <div class="control has-icons-left has-icons-right">
                        <input formControlName="volume" class="input is-success" type="text" placeholder="Volume"
                            [class.is-danger]="volume.invalid && (volume.dirty || volume.touched)">
                        <span class="icon is-small is-left">
                            <i class="fas fa-arrows-alt"></i>
                        </span>
                        <span *ngIf="!volume.invalid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p *ngIf="!volume.invalid" class="help is-success">Volume is looking good</p>
                </div>

                <div class="field">
                    <label class="label">Unite Weight</label>
                    <div class="control has-icons-left has-icons-right">
                        <input formControlName="weight" class="input is-success" type="text" placeholder="Weight"
                            [class.is-danger]="weight.invalid && (weight.dirty || weight.touched)">
                        <span class="icon is-small is-left">
                            <i class="fas fa-weight-hanging"></i>
                        </span>
                        <span *ngIf="!weight.invalid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p *ngIf="!weight.invalid" class="help is-success">Weight is looking good</p>
                </div>

                <div class="field">
                    <label class="label">Value</label>
                    <div class="control has-icons-left has-icons-right">
                        <input formControlName="value" class="input is-success" type="text" placeholder="Value"
                            [class.is-danger]="value.invalid && (value.dirty || value.touched)">
                        <span class="icon is-small is-left">
                            <i class="fas fa-sort-numeric-up"></i>
                        </span>
                        <span *ngIf="!value.invalid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p *ngIf="!value.invalid" class="help is-success">Value is looking good</p>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" [class.is-loading]="skuModelLoading"
                            [disabled]="newSKUForm.invalid">Add</button>
                    </div>
                    <div class="control">
                        <button class="button is-text" (click)="toggleNewSkuModal = false">Cancel</button>
                    </div>
                </div>
            </form>
        </div>    
            <button class="modal-close is-small" aria-label="close" (click)="toggleNewSkuModal = false">
            </button>
    </div>

    <div class="column">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">SKUs</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-success" (keyup)="applyFilter($event.target.value)" type="text"
                                        placeholder="Filter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column is-horizontal">
                <div class="card-content">
                <div *ngIf="dataSource" class="content">
                        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="table is-striped is-hoverable">
                            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                                <th class="md-table-header" mat-header-cell *matHeaderCellDef>
                                    <span *ngIf="column!='id'">{{column}}</span>
                                </th>
                                <td mat-cell *matCellDef="let sku">
                                    <div (click)="p.open()"  [satPopoverAnchorFor]="p" *ngIf="column!='id'">
                                         <mat-form-field>
                                            <input matInput type="text"
                                                [(ngModel)]="sku[column]"
                                                [size]="sku[column].toString().length || 5">
                                        </mat-form-field>

                                        <sat-popover #p
                                              hasBackdrop
                                              xAlign="start"
                                              yAlign="start"
                                              (closed)="updateSKU(sku.id, column, $event)">
                                            <app-edit-form-popup [value]="sku[column]"></app-edit-form-popup>
                                        </sat-popover>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row">
                            </tr>

                        </table>
                        <mat-paginator #page [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
                </div>
            </div>    
        </div>
    </div>
</div>
