<agm-map [zoom]="12" [latitude]="location.lat" [longitude]="location.lng" *ngIf="coordinates">

	<agm-direction
		(onChange)="onMapChange($event)"
		[origin]="coordinates.warehouse"
        [waypoints]="coordinates.waypoints"
        [renderOptions]="renderOptions"
        [optimizeWaypoints]="false"
		[destination]="coordinates.destination">
        </agm-direction>

        <agm-marker *ngIf="location.set"
        [iconUrl]="icon"
        [latitude]="location.lat"
        [longitude]="location.lng"></agm-marker>

        <!-- needed: because agm-direction labels going crazy -->
        <agm-marker
        [label]="{text: warehouse.name}"
        [latitude]="warehouse.latitude" [longitude]="warehouse.longitude">
        </agm-marker>
        <agm-marker
        [label]="{text: destination.seqNo + 1 + ''}"
        [latitude]="destination.distributor.latitude" [longitude]="destination.distributor.longitude">
        </agm-marker>
        <agm-marker *ngFor="let point of waypoints"
        [label]="{text: point.seqNo + 1 + ''}"
        [latitude]="point.distributor.latitude" [longitude]="point.distributor.longitude">
        </agm-marker>
</agm-map>
