.is-scrolable {
	height: 100%;

	.columns {
		height: 100vh;
		display: flex;
		overflow-y: auto;
		flex-direction: row;
	}
}
.fade {
	opacity: 0.5;
}
.is-selected {
	background: #ededed;
}
.is-hoverable:hover {
	background: #ededed;
}
