<div class="content">
	<h1>Select a Truck</h1>
</div>
<div class="columns">
	<div class="column is-scrolable is-one-third">
		<div class="columns is-multiline is-fullheight" *ngIf="trucks" >
			<div *ngFor="let truck of trucksWithOrders" class="column is-full">
				<div class="card is-hoverable" (click)="selectTrip(truck)">
					<div class="card-content">
						<div class="content">
                			<app-driver-card *ngIf="truck.truck" [truck]="truck.truck">
                			</app-driver-card>
							<p>Max Volume: {{ truck.truck?.volume || 100}}
			                  <progress class="progress is-small" [value]="getTotalVolume(truck)" [max]="truck.truck?.volume || 0">60%</progress>
			                </p>
			                <p>Max weight: {{ truck.truck?.weight || 100 }}
			                  <progress class="progress is-small" [value]="getTotalWeight(truck)" [max]="truck.truck?.weight || 0">60%</progress>
			                </p>
						</div>
						<div class="buttons">
							<div class="button is-primary" (click)="selectTrip(truck)">Select</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div *ngIf="selectedTrip">
			<app-edit-route-map [trip]="selectedTrip"></app-edit-route-map>
		</div>
	</div>
</div>
