<section class="main-content columns is-fullheight">
  <app-database-sidebar class="column is-2 is-narrow-mobile is-fullheight section"></app-database-sidebar>
  <div class="container column is-10">
    <div class="section">
      <div class="buttons">

        <button class="button is-primary" (click)="toggleNewSkuModal = true">New SKU</button>

        <div class="modal" [class.is-active]="toggleNewSkuModal">
          <div class="modal-background" (click)="toggleNewSkuModal = false"></div>
          <form [formGroup]="newSKUForm" class="modal-content box" [@openNewSKUModal]="toggleNewSkuModal ? 'open' : 'close'"
            (submit)="addSKU(newSKUForm.value)">
            <div class="field">
              <label class="label">Code</label>
              <div class="control has-icons-left has-icons-right">
                <input formControlName="code" class="input is-success" type="text" placeholder="Text input"
                  [class.is-danger]="code.invalid && (code.dirty || code.touched)">
                <span class="icon is-small is-left">
                  <i class="fas fa-tag"></i>
                </span>
                <span *ngIf="!code.invalid" class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              <p class="help is-success">This username is available</p>
            </div>

            <div class="field">
              <label class="label">Name</label>
              <div class="control has-icons-left has-icons-right">
                <input formControlName="name" class="input is-success" type="text" placeholder="Text input"
                  [class.is-danger]="name.invalid && (name.dirty || name.touched)">
                <span class="icon is-small is-left">
                  <i class="fas fa-file-signature"></i>
                </span>
                <span *ngIf="!name.invalid" class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              <p class="help is-success">This username is available</p>
            </div>

            <div class="field">
              <label class="label">Unite Volume</label>
              <div class="control has-icons-left has-icons-right">
                <input formControlName="volume" class="input is-success" type="text" placeholder="Text input"
                  [class.is-danger]="volume.invalid && (volume.dirty || volume.touched)">
                <span class="icon is-small is-left">
                  <i class="fas fa-arrows-alt"></i>
                </span>
                <span *ngIf="!volume.invalid" class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              <p class="help is-success">This username is available</p>
            </div>

            <div class="field">
              <label class="label">Unite Weight</label>
              <div class="control has-icons-left has-icons-right">
                <input formControlName="weight" class="input is-success" type="text" placeholder="Text input"
                  [class.is-danger]="weight.invalid && (weight.dirty || weight.touched)">
                <span class="icon is-small is-left">
                  <i class="fas fa-weight-hanging"></i>
                </span>
                <span *ngIf="!weight.invalid" class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              <p class="help is-success">This username is available</p>
            </div>

            <div class="field">
              <label class="label">Value</label>
              <div class="control has-icons-left has-icons-right">
                <input formControlName="value" class="input is-success" type="text" placeholder="Text input"
                  [class.is-danger]="value.invalid && (value.dirty || value.touched)">
                <span class="icon is-small is-left">
                  <i class="fas fa-sort-numeric-up"></i>
                </span>
                <span *ngIf="!value.invalid" class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              <p class="help is-success">This username is available</p>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link">Submit</button>
              </div>
              <div class="control">
                <button class="button is-text" (click)="toggleNewSkuModal = false">Cancel</button>
              </div>
            </div>
          </form>
          <button class="modal-close is-large" aria-label="close" (click)="toggleNewSkuModal = false"></button>
        </div>
      </div>
      <router-outlet name="database"></router-outlet>
    </div>
  </div>

</section>
