<section class="main-content columns is-fullheight">
    <app-sidebar class="column is-2 is-narrow-mobile is-fullheight section"></app-sidebar>
    <!-- <app-truck-list class="column is-3 is-narrow-mobile is-fullheight section"></app-truck-list> -->
    <div class="container column is-5">
        <div class="section">
            <router-outlet name="loadingbay"></router-outlet>
        </div>
    </div>
    <div class="container column is-5">
        <div class="section">
            <div class="content">
                <h3>Loading Officers</h3>
            </div>
            <div class="card">
                <div class="card-content">
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>Officer Name</th>
                                <th>Assigned Bay</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let officer of officers">
                                <td>{{ officer.name }}</td>
                                <td>
                                    <div class="field">
                                        <div class="control has-icons-left">
                                            <div class="select">
                                                <select ng-dropdown #bayField>
                                                    <option [ngValue]="bay"
                                                        [selected]="bay.name === officer.assignedBay"
                                                        *ngFor="let bay of bays">
                                                        {{ bay.name }}</option>
                                                </select>
                                            </div>
                                            <div class="icon is-small is-left">
                                                <i class="fas fa-truck-loading"></i>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button class="button is-outlined is-info"
                                        (click)="assignOfficer(officer.id, bayField.value)">
                                        <span>Save</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>