<div *ngIf="dataSource" class="card">
    <header class="card-header">
        <p class="card-header-title">
            Orders assigned to Truck #{{ truck.truck.truck.vid }}
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <div class="content">
                <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="table is-striped is-hoverable">
                    <ng-container matColumnDef="invoice">
                        <th class="md-table-header" mat-header-cell *matHeaderCellDef>
                            <span>Invoice No.</span>
                        </th>
                        <td mat-cell *matCellDef="let order">
                            {{ order.invoice }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="locations">
                        <th class="md-table-header" mat-header-cell *matHeaderCellDef>
                            <span>Distributor</span>
                        </th>
                        <td mat-cell *matCellDef="let order">
                            {{ order.distributor.name}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="volume">
                        <th class="md-table-header" mat-header-cell *matHeaderCellDef>
                            <span>Volume</span>
                        </th>
                        <td mat-cell *matCellDef="let order">
                            {{ order.volume }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="weight">
                        <th class="md-table-header" mat-header-cell *matHeaderCellDef>
                            <span>Weight</span>
                        </th>
                        <td mat-cell *matCellDef="let order">
                            {{ order.weight }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="value">
                        <th class="md-table-header" mat-header-cell *matHeaderCellDef>
                            <span>Value</span>
                        </th>
                        <td mat-cell *matCellDef="let order">
                            {{ order.value }}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row">
                    </tr>

                </table>
                <mat-paginator #page [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>
