    <body>


    	<div class="header">
    <div class="logo">
        <i class="fa fa-tachometer"></i>
        <span>Brand</span>
    </div>
    <a href="#" class="nav-trigger"><span></span></a>
</div>
<div class="side-nav">
    <div class="logo">
        <i class="fa fa-tachometer"></i>
        <span>Brand</span>
    </div>
    <nav>
        <ul>
        	<li>
                <a href="#">
                    <span><i class="fa fa-user"></i></span>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-user"></i></span>
                    <span>Find Driver</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-envelope"></i></span>
                    <span>Prefferd Driver</span>
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <span><i class="fa fa-bar-chart"></i></span>
                    <span>Payment</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-credit-card-alt"></i></span>
                    <span>About</span>
                </a>
            </li>
        </ul>

    </nav>

</div>
<div class="main-content">


</div>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Component
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    
  </div>
  
</div>






      

    </body>



 
    

    

