<div class="column is-one-third">
    <form [formGroup]="addSKUForm" class="card" (submit)="assignSKU(selectedOrder.invoice, addSKUForm.value)">

        <div class="card-header">
            <div class="card-header-title">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Add SKUs to #{{selectedOrder.invoice}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="field">
                <label class="label">Code</label>
                <div class="control has-icons-left has-icons-right">
                    <!-- <input class="input" type="text" placeholder="Code" /> -->
                    <div class="select is-success" [class.is-danger]="code.invalid && (code.dirty || code.touched)">
                        <select ng-dropdown formControlName="code">
                            <option>Please Select..</option>
                            <option *ngFor="let sku of SKUs" [ngValue]="sku">
                                {{ sku.code }} - {{ sku.name }}</option>
                        </select>
                    </div>
                    <span class="icon is-small is-left">
                        <i class="fas fa-tag"></i>
                    </span>
                </div>
                <p *ngIf="!code.invalid" class="help is-success">Code is looking good</p>
            </div>

            <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left has-icons-right">
                    <input formControlName="name" class="input is-success" type="text" placeholder="Name"
                        [class.is-danger]="name.invalid && (name.dirty || name.touched)">
                    <span class="icon is-small is-left">
                        <i class="fas fa-file-signature"></i>
                    </span>
                    <span *ngIf="!name.invalid" class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
                <p *ngIf="!name.invalid" class="help is-success">Name is looking good</p>
            </div>

            <div class="field">
                <label class="label">Unite Volume (m<sup>3</sup>)</label>
                <div class="control has-icons-left has-icons-right">
                    <input formControlName="volume" class="input is-success" type="text" placeholder="Volume"
                        [class.is-danger]="volume.invalid && (volume.dirty || volume.touched)">
                    <span class="icon is-small is-left">
                        <i class="fas fa-arrows-alt"></i>
                    </span>
                    <span *ngIf="!volume.invalid" class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
                <p *ngIf="!volume.invalid" class="help is-success">Volume is looking good</p>
            </div>

            <div class="field">
                <label class="label">Unite Weight (kg)</label>
                <div class="control has-icons-left has-icons-right">
                    <input formControlName="weight" class="input is-success" type="text" placeholder="Weight"
                        [class.is-danger]="weight.invalid && (weight.dirty || weight.touched)">
                    <span class="icon is-small is-left">
                        <i class="fas fa-weight-hanging"></i>
                    </span>
                    <span *ngIf="!weight.invalid" class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
                <p *ngIf="!weight.invalid" class="help is-success">Weight is looking good</p>
            </div>

            <div class="field">
                <label class="label">Value (LKR)</label>
                <div class="control has-icons-left has-icons-right">
                    <input formControlName="value" class="input is-success" type="text" placeholder="Value"
                        [class.is-danger]="value.invalid && (value.dirty || value.touched)">
                    <span class="icon is-small is-left">
                        <i class="fas fa-sort-numeric-up"></i>
                    </span>
                    <span *ngIf="!value.invalid" class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
                <p *ngIf="!value.invalid" class="help is-success">Value is looking good</p>
            </div>

            <div class="field">
                <label class="label">Qty</label>
                <div class="control has-icons-left has-icons-right">
                    <input formControlName="qty" class="input is-success" type="text" placeholder="Qty"
                        [class.is-danger]="qty.invalid && (qty.dirty || qty.touched)">
                    <span class="icon is-small is-left">
                        <i class="fas fa-sort-numeric-up"></i>
                    </span>
                    <span *ngIf="!qty.invalid" class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
                <p *ngIf="!qty.invalid" class="help is-success">Value is looking good</p>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" [class.is-loading]="addSKUFormLoading"
                        [disabled]="addSKUForm.invalid">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="column">
    <div class="card">
        <div class="card-header">
            <div class="card-header-title">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">SKUs&nbsp;in&nbsp;invoice&nbsp;#&nbsp;{{selectedOrder.invoice}}</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input is-success" (keyup)="applySKUFilter($event.target.value)"
                                    type="text" placeholder="Filter">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="content">
                <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="table is-striped is-hoverable">

                    <ng-container matColumnDef="item">
                        <th class="md-table-header" mat-header-cell *matHeaderCellDef> Item </th>
                        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell class="md-table-header" *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="volume">
                        <th mat-header-cell class="md-table-header" *matHeaderCellDef>Unit Volume </th>
                        <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
                    </ng-container>
                    <ng-container matColumnDef="weight">
                        <th mat-header-cell class="md-table-header" *matHeaderCellDef>Unit Weight </th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>
                    <ng-container matColumnDef="value">
                        <th mat-header-cell class="md-table-header" *matHeaderCellDef>Unit Value </th>
                        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                    </ng-container>
                    <ng-container matColumnDef="qty">
                        <th mat-header-cell class="md-table-header" *matHeaderCellDef>Qty</th>
                        <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row">
                    </tr>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell class="md-table-header" *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="unassignSKU(selectedOrder.invoice, element)"
                                [class.is-loading]="unassignSKULoading[element.code]"
                                class="button is-danger is-outlined is-small">
                                <span>Delete</span>
                                <span class="icon is-small">
                                    <i class="fas fa-times"></i>
                                </span>
                            </a>
                        </td>
                    </ng-container>

                    <!-- <ng-container cdkColumnDef="actions"> -->
                    <!-- <md-header-cell> Actions </md-header-cell> -->
                    <!-- <md-cell *cdkCellDef="let row"> -->
                    <!-- <button md-raised-button>Edit</button> -->
                    <!-- </md-cell> -->
                    <!-- </ng-container> -->

                </table>
                <div class="has-text-centered" *ngIf="!dataSource.data">
                    No Records found
                </div>
                <mat-paginator #page [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
    <br />
</div>

<!-- add new SKU modal -->
<!-- <div class="modal" [class.is-active]="showNewSkuModal"> -->
<!-- <div class="modal-background" (click)="showNewSkuModal = false"></div> -->
<!-- <button class="modal-close is-large" aria-label="close" (click)="showNewSkuModal = false"></button> -->
<!-- </div> -->