/* You can add global styles to this file, and also import other style files */
$menu-item-active-background-color: hsl(171, 100%, 41%);

$logo-yellow: #feaf46;
$logo-dark-blue: #007cb3;
$logo-middle-blue: #0084b9;
$logo-light-blue: #00baea;

$primary: $logo-light-blue;
$menu-item-active-background-color: $primary;

@import "bulma";
@import "bulma-extensions/bulma-pageloader/src/sass/index.sass";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
