<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        ITMS Freight
      </h1>
      <h2 class="subtitle">
        <!-- The simplest tool to run your fleet management operations, big or small. -->

        A place to manage all of your Logistics
      </h2>
    </div>
    <div class="banner-img">
      <img src="/assets/logistics_banner_icon.svg" alt="BPM Software for Logistics Operations">
    </div>
  </div>
</section>

<div class="section industry-wrap">
  <div class="columns content-wrap content">
    <div class="column is-12">
      <p class="subtitle" style="padding: inherit;">
        ITMS Freight for logistics operations is a great tool to help you manage your field staff. Create workflows and
        trips, while effortlessly tracking and monitoring your fleet real-time. ITMS Freight simplifies your field
        operations with a host of features, including merging of trips and consignments, delivery route planning and
        optimisation etc. Manage trip schedules and deliveries using a smart Kanban board integrated with live maps and
        multidimensional filtering options to track what matters to your business.
      </p>

    </div>
  </div>
  <div class="section-wrap">

    <div class="columns is-multiline section">
      <div class="column is-4">
        <img src="/assets/manage_logistics_effectively.svg" alt="">
        <h2>Effectively manage logistics <br>operations
        </h2>
        <p> Create team-based task assignment allowing every member of the team to be self-organised and accountable.
          Leverage Kanban view to track status of tasks real-time.
        </p>
      </div>
      <div class="column is-4">
        <img src="/assets/create_logistics_workflow.svg" alt="">
        <h2>Easily create policy driven <br>logistics workflows
        </h2>
        <p> Create customised workflows for all services and integrate your standard operating procedures, including
          checklists for every workflow step.
        </p>
      </div>
      <div class="column is-4">
        <img src="/assets/live_trip_tracking.svg" alt="">
        <h2>Convenient live trip <br>tracking &amp; management
        </h2>
        <p> Create &amp; track trips real-time. Combine multiple consignments into a single trip or merge trips to save
          time and cost. Increase efficiency by allowing drivers to change the route plan.
        </p>
      </div>
    </div>
  </div>

</div>
<footer>

  <div class="bottom-links">
    <div class="last-footer">
      <div class="copyrights columns">

        <div class="column is-4 download-wrap">
          <a href="https://play.google.com/store/apps/details?id=com.softborne.boombirds" target="blank">
            <img src="https://www.boombirds.com/img/google-play.svg"></a>

        </div>
        <div class=" column is-4 address">Copyright © 2019 ITMS Freignt
          Pte. Ltd.<br>All rights reserved.</div>
      </div>

    </div>

  </div>
</footer>